<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Train Hard. Live Better | PrimalTraining</title>
        <meta name="description" content="Performance-driven gym with expert coaching, results-driven programs, and a supportive community. Join Primal Training today!" />
        <link rel="shortcut icon" href="img/logo/primal-training-logo.svg" type="image/svg+xml" />
        
        <!-- Google Fonts -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Anek+Tamil:wght@100..800&family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap" rel="stylesheet">
        
        <!-- htmx -->
        <script
            src="https://unpkg.com/htmx.org@1.9.10"
            integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC"
            crossorigin="anonymous"
        ></script>
        
        <!-- CSS Files -->
        <link rel="stylesheet" href="css/index.css" />
    </head>
    <body>
        <!-- Header -->
        <header class="header">
            <!-- Navigation Bar -->
            <section
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/global/global.header-nav.partial.html"
            ></section>
            
            <!-- Hero Section with Headline -->
            <section
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="index.header-hero.partial.html"
            ></section>
        </header>

        <!-- Main Content -->
        <main class="main">
            <!-- "For the Committed" Section -->
            <section 
                class="main-content"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/index/index.main-committed.partial.html"
            ></section>

            <!-- Section with "Guided by Experts" & "Dynamic Open Gym" -->
            <section 
                class="main-content"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/index/index.main-guided-by.partial.html"
            ></section>

            <!-- "Join the Community" Sign -->
            <section 
                class="main-content"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/index/index.join-sign.partial.html"
            ></section>

            <!-- "Discover Your Potential" -->
            <section 
                class="main-content"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/index/index.discover-potential.partial.html"
            ></section>

            <!-- "Join the Primal Tribe Today!" with Button -->
            <section 
                class="main-content"
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/index/index.call-to-action.partial.html"
            ></section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <section
                data-hx-trigger="load"
                data-hx-swap="outerHTML"
                data-hx-get="partials/global/global.footer.partial.html"
            ></section>
        </footer>

        <!-- JavaScript -->
        <script type="module" src="js/index.js"></script>
    </body>
</html>