/* Mobile - default */
/* .guided-by__image-wrapper {
    background-image: url('../img/guided-by/woman-workout-mobile.jpg');
    background-size: cover;
    background-position: center;
} */

/* Tablet */
/* @media (min-width: 768px) {
    .guided-by__image-wrapper {
        background-image: url('../img/guided-by/woman-workout-tablet.jpg');
    }
} */

/* Desktop */
/* @media (min-width: 1024px) {
    .guided-by__image-wrapper {
        background-image: url('../img/guided-by/woman-workout-desktop.jpg');
    }
} */