<section class="primal-power">
    <div class="primal-power__container">
        <!-- Content Side -->
        <div class="primal-power__content">
            <h2 class="primal-power___title">Tap into Your Primal Power. Forge a Stronger You.</h2>
            
            <div class="primal-power__text-wrapper">
                <h5 class="primal-power-title__2" >OUR VISION</h5>
                <p class="primal-power___text">
                    Primal Training is committed to delivering a training experience rooted in raw strength, functional fitness, and unwavering community support. We empower our members to tap into their primal power, achieve their goals, and live a life of strength, resilience, and unwavering determination.
                </p>
            </div>

            <a href="about.html" class="primal-power___btn">About Us</a>
        </div>
        <!-- Image Side -->
        <div class="primal-power__image-wrapper">
            <!-- Image -->
            <img src="img/about/gym-bros.jpg" 
                alt="Two guys fist bumping fists in the gym" 
                class="primal-power__image">
        </div>
    </div>
</section>