<section class="reconnect">
    <div class="reconnect__container">
        <!-- Text -->
        <div class="reconnect__content">
            <h2 class="reconnect___title">We've created a space where you can reconnect with your primal self.</h2>
        </div>

        <!-- Image -->
        <div class="reconnect__image-wrapper">
            <!-- Image -->
            <img src="img/about/shoulder-press.jpg" alt="Back view of shoulder press exercise in the gym" class="reconnect__image">
        </div>
    </div>
</section>