<section class="dynamic-gym">
    <div class="dynamic-gym__container">
        <!-- Image Side -->
        <div class="dynamic-gym__image-wrapper">
            <!-- Image -->
            <img src="img/about/deadlift.jpg"
                alt="Deadlift exercise demonstration" 
                class="dynamic-gym__image">
        </div>

        <!-- Content Side -->
        <div class="dynamic-gym__content">
            <h2 class="dynamic-gym___title">DYNAMIC OPEN GYM</h2>
            
            <div class="dynamic-gym__text-wrapper">
                <p class="dynamic-gym___text">
                    At Primal Training, we strip away the fluff and focus on the fundamentals. Our expert coaches guide you through intense, functional workouts designed to build raw strength, resilience, and a body capable of anything.
                </p>
            </div>
        </div>
    </div>
</section>